---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
import Content from '../data/fake-dato-content.mdx';
import SellingPoints from '../data/fake-dato-selling-points.mdx';
---

<Layout title="MDX Local File">
	<Section className="md:grid-cols-2 md:gap-x-20">
		<Content />
		<picture>
			<img src="https://www.datocms-assets.com/33246/1667844756-cap-table-hero-image-desktop.png" alt=""/>
		</picture>
	</Section>
	<Section className="md:grid-cols-4 gap-8">
		<SellingPoints />
	</Section>
</Layout>