---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
import Content from '../data/fake-dato-content.mdx';
---

<Layout title="MDX Local File">
	<Section>
		<Content />
		<img src="https://www.datocms-assets.com/33246/1667844756-cap-table-hero-image-desktop.png" alt=""/>
	</Section>
</Layout>