---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="px-10">
		<header class="max-w-7xl mx-auto py-4 flex items-center justify-between">
			<a class="text-gradient text-3xl italic font-black" href="/">Astro + DatoCMS POC</a>
			<div>
				<a class="hidden md:inline-block text-center leading-10 w-40 h-10 rounded-full bg-fuchsia-800 text-white transition ease-in-out hover:-translate-y-0.5 hover:scale-105 hover:bg-indigo-500 duration-300 mr-6" href='/remote'>Remote MD</a>
				<a class="hidden md:inline-block text-center leading-10 w-40 h-10 rounded-full bg-blue-800 text-white transition ease-in-out hover:-translate-y-0.5 hover:scale-105 hover:bg-indigo-500 duration-300" href='/local'>Local MD</a>
			</div>
		</header>
		<main class="max-w-7xl mx-auto">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		margin: 0;
	}
	h2 {
		font-size: 1.5rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
